.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  padding: 5px;
  width: 600px;
}

.todo {
  background: rgb(4, 185, 240);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 10px;
  font-size: 12px;
  margin-bottom: 9px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete {
  margin-right: 12px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

.input {
  padding: 10px;
  width: 360px;
  outline: none;
}

.remove {
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  margin-right: 4px;
}
